<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    {% set css %}{% include "css/styles.css" %}{% endset %}
    <style>{{ css | cssmin | safe }}</style>
  </head>
  <body>
    <header>
      <div class="container">
        Medium Feed Export / <a href="/">articles</a> / <a href="/about">get yours</a>
      </div>
    </header>
    <div class="container">
      {{ content | safe }}
    </div>
  </body>
</html>
