---
title: About
layout: layouts/base.njk
---

<h1>Take back your content</h1>

You can get one of these with a click of <a href="https://app.netlify.com/start/deploy?repository={{ pkg.repository.url }}">a button</a>

<p>
<a href="https://app.netlify.com/start/deploy?repository={{ pkg.repository.url }}">
  <img src="https://www.netlify.com/img/deploy/button.svg" title="Deploy to Netlify">
</a>
</p>
