---
layout: layouts/base.njk
pagination:
  data: medium.posts
  size: 1
  alias: item
permalink: posts/{{ item.path }}/index.html
---

<p class="meta">Published on {{ item.pubDate | date }} <br/>by {{ item['dc:creator'] }}</p>
<h2>{{ item.title }}</h2>
<div class="post-content">
  {{ item['content:encoded'] | safe }}
</div>

