html,
body {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

.container {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.container img {
  width: 100%;
}
