html,
body {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  color: rgba(0,0,0,.64);
  font-size: 16px;
  line-height: 1.6;
}
@media (min-width: 800px) {
  body {
    font-size: 20px;
  }
}

a:link,
a:visited {
  color: rgba(0,0,0,.9);
}

header,
footer {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 4em;
  font-size: 0.7em;
  color: rgba(0,0,0,.64);
}
header {
  border-bottom: solid 1px rgba(0,0,0,.1);
}
footer {
  border-top: solid 1px rgba(0,0,0,.1);
}


.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
@media (min-width: 800px) {
  .container {
    width: 700px;
  }
}

hr {
  border-style: none;
  border-bottom: solid 1px rgba(0,0,0,.1);
  margin-top: 2em;
  margin-bottom: 3em;
}
.post-content img {
  width: 100%;
}

ul.listing {
  list-style: none;
  list-style-position: outside;
  padding-top: 1em;
  padding-left: 0;
}

ul.listing li {
  margin-bottom: 3em;
}

ul.listing h3 {
  padding-top:0;
  margin-top:0;
}

ul.listing p.meta {
  padding-bottom:0.5em;
  margin-bottom:0;
}

p.meta {
  color: rgba(0,0,0,.64);
  font-size: 0.8em;
}

h1,h2,h3,h4 {
  font-family: sans-serif;
  line-height: 1.1;
  color: rgba(0,0,0,.84);
}

h2 {
  font-size: 34px;
  letter-spacing: -.01em;
}

h2 small {
  font-size: 0.5em;
  font-weight: normal;
  color:  rgba(0,0,0,.64);;
}

h3 {
  margin-top: 2em;
}

figure {
  margin-left: 0;
  margin-right: 0;
}
figcaption {
  text-align: center;
  color: rgba(0,0,0,.46);
  font-size: 0.7em;
}

blockquote {
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -2em;
  padding-left: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-left: solid 3px #333;
}

blockquote em {
  font-style: normal;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #eee;
  color: #333;
  font-size: 0.7em;
  overflow-x: scroll;
}
